<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>year</string>
		<key>keyMap</key>
		<dict>
			<key>%y</key>
			<string>y</string>
			<key>%yy</key>
			<string>yy</string>
			<key>%yyyy</key>
			<string>yyyy</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>month</string>
		<key>keyMap</key>
		<dict>
			<key>%M</key>
			<string>M</string>
			<key>%MM</key>
			<string>MM</string>
			<key>%MMM</key>
			<string>MMM</string>
			<key>%MMMM</key>
			<string>MMMM</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>day</string>
		<key>keyMap</key>
		<dict>
			<key>%d</key>
			<string>d</string>
			<key>%dd</key>
			<string>dd</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>week</string>
		<key>keyMap</key>
		<dict>
			<key>%eee</key>
			<string>eee</string>
			<key>%eeee</key>
			<string>eeee</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>hour</string>
		<key>keyMap</key>
		<dict>
			<key>%k</key>
			<string>k</string>
			<key>%kk</key>
			<string>kk</string>
			<key>%h</key>
			<string>h</string>
			<key>%hh</key>
			<string>hh</string>
			<key>%H</key>
			<string>H</string>
			<key>%HH</key>
			<string>HH</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>minute</string>
		<key>keyMap</key>
		<dict>
			<key>%m</key>
			<string>m</string>
			<key>%mm</key>
			<string>mm</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>second</string>
		<key>keyMap</key>
		<dict>
			<key>%s</key>
			<string>s</string>
			<key>%ss</key>
			<string>ss</string>
		</dict>
	</dict>
	<dict>
		<key>desc</key>
		<string>ampm</string>
		<key>keyMap</key>
		<dict>
			<key>%a</key>
			<string>a</string>
		</dict>
	</dict>
</array>
</plist>
