<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>descKey</key>
		<string>string.date</string>
		<key>keyMap</key>
		<dict>
			<key>%date</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>descKey</key>
		<string>string.date1</string>
		<key>keyMap</key>
		<dict>
			<key>%date1</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>descKey</key>
		<string>string.date2</string>
		<key>keyMap</key>
		<dict>
			<key>%date2</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>descKey</key>
		<string>string.date3</string>
		<key>keyMap</key>
		<dict>
			<key>%date3</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>descKey</key>
		<string>string.date4</string>
		<key>keyMap</key>
		<dict>
			<key>%date4</key>
			<integer>4</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>12</integer>
		<key>descKey</key>
		<string>string.time</string>
		<key>keyMap</key>
		<dict>
			<key>%time</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>12</integer>
		<key>descKey</key>
		<string>string.time1</string>
		<key>keyMap</key>
		<dict>
			<key>%time1</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>12</integer>
		<key>descKey</key>
		<string>string.time2</string>
		<key>keyMap</key>
		<dict>
			<key>%time2</key>
			<string>2</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>12</integer>
		<key>descKey</key>
		<string>string.time3</string>
		<key>keyMap</key>
		<dict>
			<key>%time3</key>
			<string>3</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>12</integer>
		<key>descKey</key>
		<string>string.time4</string>
		<key>keyMap</key>
		<dict>
			<key>%time4</key>
			<string>4</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.year</string>
		<key>keyMap</key>
		<dict>
			<key>%y</key>
			<string>y</string>
			<key>%yy</key>
			<string>yy</string>
			<key>%yyyy</key>
			<string>yyyy</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.month</string>
		<key>keyMap</key>
		<dict>
			<key>%M</key>
			<string>M</string>
			<key>%MM</key>
			<string>MM</string>
			<key>%MMM</key>
			<string>MMM</string>
			<key>%MMMM</key>
			<string>MMMM</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.day</string>
		<key>keyMap</key>
		<dict>
			<key>%d</key>
			<string>d</string>
			<key>%dd</key>
			<string>dd</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.week</string>
		<key>keyMap</key>
		<dict>
			<key>%eee</key>
			<string>eee</string>
			<key>%eeee</key>
			<string>eeee</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.hour</string>
		<key>keyMap</key>
		<dict>
			<key>%k</key>
			<string>k</string>
			<key>%kk</key>
			<string>kk</string>
			<key>%h</key>
			<string>h</string>
			<key>%hh</key>
			<string>hh</string>
			<key>%H</key>
			<string>H</string>
			<key>%HH</key>
			<string>HH</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.minute</string>
		<key>keyMap</key>
		<dict>
			<key>%m</key>
			<string>m</string>
			<key>%mm</key>
			<string>mm</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.second</string>
		<key>keyMap</key>
		<dict>
			<key>%s</key>
			<string>s</string>
			<key>%ss</key>
			<string>ss</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.ampm</string>
		<key>keyMap</key>
		<dict>
			<key>%a</key>
			<string>a</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<integer>21</integer>
		<key>descKey</key>
		<string>part.timezone</string>
		<key>keyMap</key>
		<dict>
			<key>%zzz</key>
			<string>zzz</string>
			<key>%zzzz</key>
			<string>zzzz</string>
			<key>%ZZZ</key>
			<string>ZZZ</string>
			<key>%ZZZZ</key>
			<string>ZZZZ</string>
		</dict>
	</dict>
</array>
</plist>
